<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{name_soft}} {{type_soft}} {{vol_soft}} {{authority_soft}}  QQ群:{{qq_group}} 手机:{{tel_ldae}} {{sys_time}}</title>
<link rel="shortcut icon" href="{{ static_url("img/logo.ico") }}" />
<link href="{{ static_url("css/style.css") }}" rel="stylesheet" type="text/css" />

</head>

<body>

<center>
<div style="width:502px;align:left;">
{{list_main}}
</div>
</center>

</body>
</html>