<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{{name_soft}} {{type_soft}} {{vol_soft}} {{authority_soft}}  QQ群:{{qq_group}} 手机:{{tel_ldae}} {{sys_time}}</title>
<link rel="shortcut icon" href="{{local_url}}img/logo.ico" />
<script src="{{local_url}}js/jquery-1.8.2.min.js"></script>
<script src="{{local_url}}js/common.js"></script>
<script src="{{local_url}}js/bna_class.js")"></script>
<link href="{{local_url}}css/style.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="search_tag/main_py.js"></script>
<style type="text/css">
  .suggest_link 
  {
   background-color:#fff;
   padding:2px 6px 2px 6px;
  }
  .suggest_link_over 
  {
    background:#EFEFEF;
    padding:2px 6px 2px 6px;
  }
  #search_suggest
  {
    position:relative; 
    left:115px; 
    top:5px; 
    background-color:#ffffff;
    text-align:left;
    border:0px solid #000000;
    width:301px;
   }
</style> 
</head>

<body style="background-color:F6F6F6;">

<center>
<div style="background:url(statics/img/bj_groud_shorttxt.jpg);width:398px;height:666px;margin:10px auto;">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><br />
</p>
<p>&nbsp;</p>
<br />
<br />
<br />
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<p>
<form name="myform_x0" method="post" action="show" id="x0" accept-charset="utf-8" onsubmit="document.charset='utf-8';">
<table width="388" border="0" align="center">
  <tr>
    <td colspan="2" height="43" align="center">
    <textarea name="q" type="text" cols="38" id="tValue" style="overflow-y:hidden; height:20px;" onpropertychange="this.style.height=this.scrollHeight + 'px'" oninput="this.style.height=this.scrollHeight + 'px'"  value="右乳有实性肿块是乳腺癌么？">
{{question_form}}
    </textarea>
      </td>
      </tr>
      <tr>
        <td colspan="2" height="55" align="center" valign="middle">
请填入待处理的答案：
<br><br>
<textarea name="answer" type="text" cols="38" id="tValue" style="overflow-y:hidden; height:20px;" onpropertychange="this.style.height=this.scrollHeight + 'px'" oninput="this.style.height=this.scrollHeight + 'px'" >
</textarea>
        
        </td>
      </tr>
      <tr>
    <td width="50%" height="55" align="right" valign="middle">
    <input name="action" type="hidden" value="{{action_form}}" />
    <input name="bigclass_name" type="hidden" value="{{bigclass_name_form}}" />
    <input type="submit" name="button" id="button" value="提交" />
    &nbsp;&nbsp;
    </form>
    </td>
    <form id="form2" name="form2" method="get" action="/">
    <td width="50%" height="55" align="left" valign="middle">
    &nbsp;&nbsp;<input type="submit" name="button" id="button" value="重置" />
    </td></form>
  </tr>
</table>

</p>
<p>1.主要参数在config.py配置 <br />
  <br />
2.具体说明详见readme.md <br />
<br />
<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=b66f609a13ecba9d012edab5963204488f83302f1711a4d551a030206046df14"><img border="0" src="/statics/img/QQ_ADD.png?v=f95c73d4b6365e9c1fd930b00620f5d2" alt="LDAE客服群" title="LDAE客服群" /> 4232051</a></p></div>
</center>

</body>
</html>